version: '3.8' 

services:  
  
  web:         
    build: .  
    container_name: lotto_web  # 컨테이너의 이름
    volumes:
      - .:/app
    ports:     
      - "8000:8000" 
    depends_on: 
      - db
    env_file:   
      - .env

  db:          
    image: postgres:15-alpine
    container_name: lotto_db  
    volumes:    
      - postgres_data:/var/lib/postgresql/data/ 
                                                 
    env_file:  
      - .env

volumes:        
  postgres_data: